*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #eaeaea;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}
main{
    display: block;
    width: 70%;
    margin: 50px auto;
}
section{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 2px 15px 5px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 50px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    color: #1B1B1B;
}
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
figcaption{
    text-align: right;
    font-size: 12px;
    color: #8F8F8F;
}

h3{
    text-align: center;
    color: #1B1B1B;
    font-size: 20px;
    margin: 50px;
}

ul, ol, p{
    color: #39393A;
    line-height: 36px;
    list-style-position: inside;
    font-size: 16px;
}

footer{
    color: #8F8F8F;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}
